/* Global styles (applies to all pages) */
body {
    font-family: 'Times New Roman', serif;
    background: linear-gradient(to bottom right, #f0cdfc, #ffffff); /* Smooth gradient */
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensures the body covers the full viewport height */
}

/* Centered Container for Welcome Text and Links */
#welcome-container {
    text-align: center;
    margin-top: 20vh; /* Centers the content vertically */
}

/* Welcome Text */
h1 {
    color: #000000;
}

/* Box behind the options */
.option-box {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Link styles */
a {
    color: #31062f;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #170250;
    outline: none;
}

button[type="submit"] {
    background-color: #4a2055;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #8b45a0;
}
